#!/bin/bash
set -e
export DISPLAY=:0.0

# Find the primary display
display=$(xrandr | grep " connected" | awk '{ print $1 }' | head -n 1)

# Apply rotation
xrandr --output "$display" --rotate "${rotatescreen}"

echo "Screen rotated to ${rotatescreen}"
